*{
    margin: 0;
    padding: 0;
}
html.body{
    height: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.user-container{
    background: #a9bdce;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}
.user-container label{
    font-size: 14px;
    margin-right: 0.5rem;
}
.user-container input{
    border-radius: 3px;
    border: none;
    height: 25px;
}
.display-container{
    background: #a9bdce;
    height: 500px;
    overflow-y: scroll;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}
.input-container{
    background: #b2c7d9;
    height: 50px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.input-container span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}
.chatting-input {
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin-right: 0.5rem;
    flex: 8;
    /* width: 300px; 코코아톡 보고 잘 바꿔보기 */
}
.send-button{
    flex: 1;
    border: none;
    border-radius: 3px;
    height: 30px;
    background: #ffeb33;
}
.chatting-input li{
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0.5rem;
}
.sent{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 0px;
    /* float: right */
}
.received {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.wrapper-user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-right: 0;
}
.message__info{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sent .message__info{
    flex-direction: row-reverse;   
}
.display-container .image{
    border-radius: 50%;
    object-fit: cover;/*크기에 맞추는 속성 mdn 검색*/
    width: 50px;
    height: 50px;
}
.message__info{
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
}
.message{
    margin:0px 8px;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.user{
    font-size: 14px;
    margin-top: 5px;
}
.time {
    font-size: 12px;
}
.sent .message {
    background: #ffeb33;
}
.received .message {
    background: #fff;
}
